*.mp4
*.gcode

stm32/Quadcopter/Debug/
stm32/Quadcopter/Release/

PID_settings/
FFT_tool/

# But not these file types
!*.c
!*.cpp
!*.h
!*.hpp
!.gitignore

!FFT_tool/fft.py
!FFT_tool/fft2.py

# stm32/Quadcopter/Drivers/

# Autorise IMU_EKF
!IMU_EKF/
!IMU_EKF/*
