[submodule "submodules/stm32_hal_icm20948"]
	path = submodules/stm32_hal_icm20948
	url = https://github.com/Louis-P35/stm32_hal_icm20948.git
[submodule "submodules/IMU_EKF"]
	path = submodules/IMU_EKF
	url = https://github.com/hobbeshunter/IMU_EKF.git
